{% extends 'layout.html' %}
{% load static %}

{% block main %}
<section class="main__collection-movies main__section">
	<div class="main__collection-container main__container">
		<h2 class="main__section-title">{{ genre.name }}</h2>
		<div class="main__collection-swiper swiper">
			<ul class="main__collection-list main__collection-swiper-wrapper swiper-wrapper">
				{% for movie in genre.movies.all %}
				<li class="main__collection-item swiper-slide">
					<a href="{% url 'show_data:detail' movie.id %}" class="main__collection-link">
						<figure class="main__collection-box">
							<div class="main__img-wrapper">
								<img src="{{ movie.img.url }}" alt="top movie image" class="main__collection-img">
							</div>
							<figcaption class="main__collection-title">
								<h3 class="main__collection-title">{{ movie.name_translated }}</h3>
								<ul class="main__collection-sub-list">
									<li class="main__sub-item">
										<span class="main__sub-link">{{ movie.city }}</span>
									</li>
									<li class="main__sub-item">
										<span class="main__sub-link">{{ movie.date.year }}</span>
									</li>
									<li class="main__sub-item">
										<span class="main__sub-link">{{ movie.rating }}</span>
									</li>
								</ul>
							</figcaption>
						</figure>
						<div class="main__collection-results">
							<a href="#" class="main__collection-result movie-top">
								<img src="{% static 'images/top_movies/movie.svg' %}" alt="top movie service">
								<p class="main__collection-number">5.0</p>
							</a>
							<a href="#" class="main__collection-result movie-imdb">
								<span class="main__collection-span">imdb</span>
								<p class="main__collection-number">4.8</p>
							</a>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
{% endblock %}