{% extends 'layout.html' %}
{% load static %}


{% block main %}
<section class="main__detail main__section">
	<img src="images/static_images/Ellipse 8.png" alt="background-image" class="main__bg-img">
	<div class="main__detail-container main__container">
		<div class="main__detail-left">
			<figure class="main__detail-box">
				<img src="{{ movie.img.url }}" alt="poster" class="main__detail-img">
			</figure>
		</div>
		<div class="main__detail-right">
			<table class="main__detail-table">
				<h2 class="main__detail-translated-title">
					{{ movie.name_translated }}
				</h2>
				<h2 class="main__detail-original-title">
					{{ movie.name_original }}
				</h2>
				<thead>
					<tr>
						<th>Продолжительность</th>
						<td>{{ movie.duration }}</td>
					</tr>
					<tr>
						<th>Год выпуска</th>
						<td>{{ movie.date.year }}-{{ movie.date.month }}-{{ movie.date.day }}</td>
					</tr>
					<tr>
						<th>Премьера фильма</th>
						<td>{{ movie.date }}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Жанр</th>
						{% for genre in movie.genre.all %}
						<td>{{ genre.name }}</td>
						{% endfor %}
					</tr>
					<tr>
						<th>Страна</th>
						<td>{{ movie.city }}</td>
					</tr>
					<tr>
						<th>В главных ролях</th>
						{% for actor in movie.actors.all %}
						<td>{{ actor.name }}</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<div class="main__detail-description">
				<h2 class="main__detail-title">О чем фильм "{{ movie.name_translated }}"</h2>
				<p class="main__detail-text">
					{{ movie.description }}
				</p>
			</div>
		</div>
	</div>
</section>
{% if sessions.count %}
{% include './tickets.html' %}
{% endif %}
{% endblock %}