{% extends 'layout.html' %}
{% load static %}


{% block main %}
<section class="main__sessions-list main__section">
	<div class="main__collection-container main__container">
		{% if sessions.count == 0%}
		<h2 class="main__section-title">Not sessions were found</h2>
		{% endif %}
		<div class="main__collection-swiper  main__ticket-swiper swiper">
			<ul class="main__collection-list main__collection-swiper-wrapper swiper-wrapper">
				{% for session in sessions %}
				<li class="swiper-slide main__collection-item ">
					<a href="{% url 'show_data:detail' session.movie.id %}" class="main__collection-link">
						<figure class="main__collection-box">
							<div class="main__img-wrapper">
								<img src="{{ session.movie.img.url }}" alt=" top movie image" class="main__collection-img">
							</div>

							<figcaption class="main__collection-title">
								<h3 class="main__collection-title">{{ session.movie.name }}</h3>
								<ul class="main__collection-sub-list main__tickets-sub-list">
									<li class="main__sub-item">
										<a href="#"
											class="main__sub-link main__tickets-sub-link">{{ session.start_time.hour}}:{{ session.start_time.minute}}</a>
									</li>
									<li class="main__sub-item">
										<a href="#" class="main__sub-link main__tickets-sub-link price">{{session.price}}</a>
									</li>
									<li class="main__sub-item">
										<a href="#" class="main__sub-link main__tickets-sub-link">{{ session.hall.name }}</a>
									</li>
									<li class="main__sub-item">
										<a href="#" class="main__sub-link main__tickets-sub-link">
											Edit
										</a>
									</li>
									<li class="main__sub-item">
										<a href="{% url 'admin_profile:delete_session' session.id %}"
											class="main__sub-link main__tickets-sub-link">Delete
										</a>
									</li>
								</ul>
							</figcaption>
						</figure>
						<!-- <div class="main__collection-results">
								<a href="#" class="main__collection-result movie-top">
									<img src="images/top_movies/image 3.svg" alt="top movie service">
									<p class="main__collection-number">5.0</p>
								</a>
								<a href="#" class="main__collection-result movie-imdb">
									<span class="main__collection-span">imdb</span>
									<p class="main__collection-number">4.8</p>
								</a>
							</div> -->
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
{% endblock %}


{% block script %}
<script>
	const prices = document.querySelectorAll( ".price" )

	const formatter = new Intl.NumberFormat( 'en-US', {
		style: 'currency',
		currency: 'USD',
	} );

	prices.forEach( price =>
	{
		const value = price.textContent;
		price.textContent = formatter.format( value );
	} )
</script>
{% endblock %}