{% extends 'layout.html' %}
{% load static %}


{% block main %}
<section class="main__sessions-list main__section">
	<div class="main__session-container main__container">
		<form method="post" class="main__session-filter">
			{% csrf_token %}
			<div class="main__admin-form-flexed column">
				<div class="main__admin-select-block main__admin-select-block--full">
					<label for="cinema">cinema</label>
					<select name="cinema" id="cinema" class="main__admin-select" data-session-filter data-is_not_single="false">
					</select>
				</div>
			</div>
			<div class="main__admin-form-block">
				<button type="submit" class="main__admin-btn">Search</button>
			</div>
		</form>
		<div class="main__collection-swiper  main__session-swiper swiper">
			<div class="main__collection-swiper-wrapper main__session-wrapper swiper-wrapper"></div>
		</div>
	</div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'js/session_choices.js' %}" type="module" defer></script>
<script src="{% static 'js/session_filter_handler.js' %}" type="module" defer></script>
<script src="{% static 'js/admin_swiper.js' %}" type="module" defer></script>
{% endblock %}